# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.ipynb
!/input**
!/output**
!.gitignore
# Ignore folders.
.ipynb_checkpoints

# Ensure these files are ignored, otherwise your secret data/credentials will leak.

git 